In [1]:
import numpy as np
import pandas as pd

In [2]:
stock_change = np.random.normal(0, 1, (10, 5))

In [3]:
stock_change

array([[-0.80882174,  1.17455557, -1.31161799, -1.66606468, -0.34211838],
       [-0.54580423, -1.84615165, -0.78486814, -0.29426314,  1.48416823],
       [ 0.27053146,  0.3446862 , -1.22870034,  0.89111132,  0.38573078],
       [-0.86145335, -0.35477409,  0.04782319, -0.37758205, -1.99252486],
       [ 0.27654649, -1.59180969, -0.4861116 , -0.86175372,  0.8732857 ],
       [-0.97816494, -0.714176  , -0.11933522,  1.21619117,  0.18632092],
       [-0.42789114, -1.68650054,  0.04843876, -0.37577849, -0.55334639],
       [-1.52754872,  1.8866625 ,  1.18822349,  0.63150619, -0.11425319],
       [ 0.24146857, -0.86886708,  3.06208439, -0.28443499,  0.21038144],
       [ 1.27588962,  0.98779749, -1.34541124, -0.07658627, -0.43307123]])

In [4]:
type(stock_change)

numpy.ndarray

In [5]:
stock_change = pd.DataFrame(stock_change)

In [6]:
stock_change

          0         1         2         3         4
0 -0.808822  1.174556 -1.311618 -1.666065 -0.342118
1 -0.545804 -1.846152 -0.784868 -0.294263  1.484168
2  0.270531  0.344686 -1.228700  0.891111  0.385731
3 -0.861453 -0.354774  0.047823 -0.377582 -1.992525
4  0.276546 -1.591810 -0.486112 -0.861754  0.873286
5 -0.978165 -0.714176 -0.119335  1.216191  0.186321
6 -0.427891 -1.686501  0.048439 -0.375778 -0.553346
7 -1.527549  1.886663  1.188223  0.631506 -0.114253
8  0.241469 -0.868867  3.062084 -0.284435  0.210381
9  1.275890  0.987797 -1.345411 -0.076586 -0.433071

In [7]:
type(stock_change)

pandas.core.frame.DataFrame

In [11]:
stock_code = ["股票{}".format(i) for i in range(len(stock_change.index))]

In [12]:
stock_code

['股票0', '股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9']

In [14]:
stock_change.shape[1]

5

In [15]:
stock_change = pd.DataFrame(stock_change, index=stock_code)

In [16]:
stock_change

      0   1   2   3   4
股票0 NaN NaN NaN NaN NaN
股票1 NaN NaN NaN NaN NaN
股票2 NaN NaN NaN NaN NaN
股票3 NaN NaN NaN NaN NaN
股票4 NaN NaN NaN NaN NaN
股票5 NaN NaN NaN NaN NaN
股票6 NaN NaN NaN NaN NaN
股票7 NaN NaN NaN NaN NaN
股票8 NaN NaN NaN NaN NaN
股票9 NaN NaN NaN NaN NaN